
<!-- hero component -->
<div class="hero__outer-wrap">
    <div class="mx-auto max-width-4 clearfix px2" >
        <div class="hero-wrap">
            <div class="hero--content-wrap col-12 sm-col-11 md-col-11 lg-col-11">
                <div class="hero--content">
                <div class="hero—inner-wrap">
                    <div class="baffle-loader page--hero__title show-on-small">
                      <h1>{{ page.title }}</h1>
                    </div>
                </div>
                    {{ content }}
                </div>
                <div class="page--hero__image" style="background-image: url('{{ page.image }}');">
                </div>
                <div class="hero—inner-wrap xs-hide">
                    <h1 class="page--hero__title baffle-loader">
                      {{ page.title }}
                  </h1>
                </div>
            </div>

        </div>
    </div>

</div>
