    <div class="col col-2 pr2 xs-hide">
        <div class="product-slider_nav">
            {% for image in page.product-images %}
                <div class="flex-1 relative">
                      <div class="product-slider_navImage cover" style="background-image: url('{{ image }}');">
                      </div>
                </div>
              {% endfor %}
        </div>
    </div>
    <div class="col col-12 sm-col-10 flex flex-column">
        <div class="product-slider">
            {% for image in page.product-images %}
              <div class="product-slider_image cover" style="background-image: url('{{ image }}');">
              </div>
              {% endfor %}
        </div>
    </div>


<script type="text/javascript">
          $(document).ready(function(){
              $('.product-slider').slick({
               slidesToShow: 1,
               slidesToScroll: 1,
               arrows: false,
               fade: false,
              waitForAnimate: false,
             });

             $('.product-slider_nav').slick({
               slidesToShow: 5,
               slidesToScroll: 1,
               asNavFor: '.product-slider',
               dots: false,
               centerMode: false,
               focusOnSelect: true,
               vertical: true,
               draggable: false
             });
        });
</script>



<!-- <script type="text/javascript">
          $(document).ready(function(){
          $('.product-slider').slick({
            dots: true,
            infinite: false,
            speed: 600,
            slidesToShow: 1,
            arrows: true,
            asNavFor: null,
            lazyLoad: 'ondemand',
            prevArrow: '<button type="button" data-role="none" class="slick-prev" aria-label="Previous" tabindex="0" role="button">Previous</button>',
            nextArrow: '<button type="button" data-role="none" class="slick-next" aria-label="Next" tabindex="0" role="button">Next</button>',
            adaptiveHeight: true,
            cssEase: 'ease-in-out',
            responsive: [
              {
                breakpoint: 736,
                settings: {
                  arrows: false,
                }
              },
            ]
        });
        });
</script> -->
