$transition-1: .15s ease-out;
$transition-2: .3s ease-out;

.move-vert {
    transform: translateY(var(--yu));
    @media #{$media-max-tablet}{
            transform: translateY(calc(var(--yu)/2));
    }
}
.move-horiz {
    transform: translateX(var(--yu));
    @media #{$media-max-tablet}{
            transform: translateX(calc(var(--yu)/2));
    }
}
