$cch-blue: #2733FF;
$cch-red: #FF2600;
$darkest-grey: #4A4A4A;
$grey: #575757;
$mid-grey: #8f8f8f;
$white: #fff;
$light-grey: #cacaca;

.bg-white  { background-color: $white }
.bg-black  { background-color: black }

.blue-text {
    color: $cch-blue;
}

.blue-bg {
    background-color: $cch-blue;
}
.blue-fill {
    fill: $cch-blue;
}

.red-text {
    color: $cch-red;
}
.red-bg {
    background-color: $cch-red;
}
.red-fill {
    fill: $cch-red;
}
