
.test{
  background-color: #f2f2f2;
  height: 100%;
  min-height: 35rem;
}

.cover {
  background-position: center;
  background-size: cover;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

// video header

.video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

.video-wrap {
  overflow: hidden;
  height: 60vh;
  & h1 {
    top: 40%;
    left: 20%;
  }
}
