.hero {
    position: relative;
    & svg {
        width: 100%;
        position: relative;
        z-index: 2;
    }
}
.hero-image {
    width: 100%;
    position: absolute;
    top: -37.5rem;
    left: 0;
    z-index: -9999;
    transition: .3s ease-out;
    will-change: transform;

    @media #{$media-max-tablet}{
        top: -7rem;
    }
}

.move-vert {
    transform: translateY(var(--yu));
    @media #{$media-max-tablet}{
            transform: translateY(calc(var(--yu)/2));
    }
}
.move-horiz {
    transform: translateX(var(--yu));
    @media #{$media-max-tablet}{
            transform: translateX(calc(var(--yu)/2));
    }
}

.cch-intro {
    max-width: 42rem;
    & p{
        font-weight: 200;
        font-size: 2.3rem;
        margin: 0;
        line-height: 62px;
        color: $cch-blue;
        @media #{$media-max-tablet}{
            font-size: 1.7rem;
            line-height: 48px;
        }
        & a {
            background-position: 0 43px;
            background-size: 24px 7px;
            @media #{$media-max-tablet}{
                background-position: 0 37px;
                background-size: 21px 6px;
            }
        }
    }
}

.cch-open, .cch-events {
        display: inline-block;
        transform-origin: center;
        font-weight: 800;
        font-size: 12vw;
        line-height: 1.1;
        text-transform: uppercase;
        letter-spacing: 3rem;
    & span {
        display: inline-block;
        transform-origin: center;
        font-weight: 800;
        font-size: 12vw;
        padding: 2vw;
        margin: 0;
        line-height: 1.1;
        text-transform: uppercase;
        margin-right: 1rem;
        letter-spacing: 0;

        transition: .3s ease-out;
        will-change: transform;
         @media #{$media-max-l}{
             font-size: 17vw;
            padding: 3vw;
            margin-right: 0;
        }
    }
}

.cch-open_hours {
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 500;
    line-height: 1.7;
    padding: 0 16px;
    max-width: 620px;
    margin: auto;
    font-size: 27px;
    @media #{$media-max-tablet}{
        font-size: 16px;
        letter-spacing: 4px;
        max-width: 360px;
    }
}

.cch-events {
    & span {
        @media #{$media-max-tablet}{
            font-size: 15vw;
            padding: 3vw;
        }
    }
}

.letters-odd {
    transform: rotate(var(--r));
}

.letters-even {
    transform: rotate(var(--rr));
}



.intro-cap {
    position: absolute;
    left: 0;
    top: 3rem;
    width: 410px;
    z-index: -1;

    @media #{$media-max-tablet}{
        top: auto;
        bottom: -3rem;
        width: 310px;
    }
}
.intro-squiggle {
    position: absolute;
    right: 6rem;
    top: 4rem;
    width: 50px;

    @media #{$media-max-tablet}{
        top: auto;
        bottom: -1rem;
        width: 35px;
        right: 2rem;
    }
}
