<footer>
  <div id="footer" class="footer--content margin mx-auto center col-12 sm-col-6 py4">
    {% include svg/ATI_w.svg %}
    <h2>subscribe</h2>
    <p>{{ site.footer-language }}</p>
    {% include /subscribe/form.html %}
  </div>
  <div class="footer-bp clearfix container py1" id="footer">
        <div class="footer-bp—item col col-12 md-col-4">
            <p>A project of <a href="https://rachelrader.squarespace.com/about/" target="_blank">Ráchel Räder ©</a> <button class="btn-clear border-left modal__trigger" href="" data-modal="legal--modal">Privacy & Legal</button></p>
        </div>
        <div class="footer-bp—item col col-12 md-col-4 center sm-wrapper">
            <a href="https://www.facebook.com/AncientTruthInvestigators/" target="_blank" class="sm-link">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="https://www.instagram.com/ancient_truth_investigators/" target="_blank" class="sm-link">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <!-- <a href="https://twitter.com/A_T_I_lab?lang=en" target="_blank" class="sm-link">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a> -->
            <a href="https://vimeo.com/user43661355" target="_blank" class="sm-link">
                <i class="fa fa-vimeo" aria-hidden="true"></i>
            </a>
        </div>
        <div class="footer-bp—item col col-12 md-col-4 built-with">
          <a href="http://www.danrdesign.com/"><p>Built with <span>&#10084;</span> by Dan Rader</a></p>
        </div>
  </div>
</footer>

<div id="legal--modal" class="modal">
    <span class="close hairline" data-modal="legal--modal"></span>
    <div class="modal-content">
        <div class="max-width-3 mx-auto relative">
            {% for page in site.pages %}
                {% if page.title == "legal-and-privacy" %}
                    {{ page.content }}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
