
<div class="nav-wrapper">
    <nav class="vert-cntr-child justify-between">
    <a href="#top" class="brand-logo">{{ site.logo }}</a>

    <input type="checkbox" id="nav" class="hidden"/>
    <label for="nav" class="nav-open"><i></i><i></i></label>
      <div class="nav-container fixed top-0 right-0 p1 z2 flex flex-column">
            <ul class="block list-reset">
                <a href=#about onclick='checkoff()'><li class="nav-item">Nav Item 1</li></a>

                <a href=#cidery onclick='checkoff()'><li class="nav-item">Nav Item 2</li></a>

                <a href=#process onclick='checkoff()'><li class="nav-item">Nav Item 3</li></a>

                <a href=#location onclick='checkoff()'><li class="nav-item">Nav Item 4</li></a>

                <a href=#events onclick='checkoff()'><li class="nav-item">Nav Item 5</li></a>

                <a href=#contact onclick='checkoff()'><li class="nav-item">Nav Item 6</li></a>

            </ul>
    </div>
</nav>
</div>
