<!-- Begin MailChimp Signup Form -->
  <div id="mc_embed_signup">
  <form action="//ancienttruthinvestigators.us9.list-manage.com/subscribe/post?u=b19f8a69047913b530c2ccfcb&amp;id=e57c31e922" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
  <!-- <div class="indicates-required"><span class="asterisk">*</span> indicates required</div> -->
    <div class="mc-field-group before-n-after">
    	<input type="text" value="" name="FNAME" class="before-n-after" id="mce-FNAME">
      <label for="mce-FNAME">Name </label>
    </div>

    <div class="mc-field-group">
    	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
    	<label for="mce-EMAIL">Email</span></label>
    </div>

  	<div id="mce-responses" class="clear">
  		<div class="response" id="mce-error-response" style="display:none"></div>
  		<div class="response" id="mce-success-response" style="display:none"></div>
  	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b19f8a69047913b530c2ccfcb_e57c31e922" tabindex="-1" value=""></div>
      <input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="btn-prime">
      </div>
  </form>
</div>

<!--End mc_embed_signup-->
