$tablet: 600px;
$xl: 1400px;
$l: 771px;

$media-max-tablet: "screen and (max-width: #{$tablet})";
$media-max-l: "screen and (max-width: #{$l})";
$media-min-xl: "screen and (min-width: #{$xl})";
// @media #{$media-max-tablet}{}
// @media #{$media-max-l}{}

// @media #{$media-min-xl}{}

img {
  max-width: 100%;
  vertical-align: middle;
}

body {
  min-height: 50vh;
  background-color: $paper-tan;
  position: relative;
}


.flex-1 {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}
